.div1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.div2 {
  width: 100%;
}

.companyTitle {
  background-image: linear-gradient(to bottom right, #c0c0c0, #444);
  background-size: cover;
  background-clip: text;
  color: transparent;
  font-family: fantasy;
  font-weight: bold;
  font-size: 5rem;
  margin: 0.1rem;
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
}

ul {
  position: relative;
  display: flex;
  justify-content: center;
  border: solid;
  border-color: transparent;
  border-top-color: #333;
  border-bottom-color: #333;
  padding: 1rem;
}

ul ul {
  display: flex;
  justify-content: flex-start;
}

ul hr {
  color: #444;
  margin: 0.4rem;
}

ul li {
  position: relative;
  list-style: none;
  margin: 0 5px;
}

ul li button {
  background-color: #333;
  padding: 0.8rem;
  border: none;
  font-weight: bolder;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.2);
}

ul li button:hover {
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 0 #222;
}
