.div1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.div2 {
  width: 100%;
}

.companyTitle {
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
}

/*===================================================main menu================================================*/

.mainBar {
  position: relative;
  display: flex;
  justify-content: center;
  border: solid;
  border-color: transparent;
  border-top-color: #333;
  border-bottom-color: #333;
  padding: 1rem;
}

.mainBar hr {
  color: #444;
}

.mainBar li {
  position: relative;
  list-style: none;
  margin: 0 5px;
}

.links {
  background-color: #333;
  padding: 0.8rem;
  border: none;
  font-weight: bolder;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.2);
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.links:hover {
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 0 #222;
}

/*===================================================lists================================================*/

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.book2 {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.book2 > * {
  margin: 0.5rem;
}

.book a {
  text-decoration: none;
}

.listFirstLine {
  margin-top: 0.5rem;
  font-size: 2rem;
  color: #555;
}

.book:hover {
  background: rgba(0, 0, 0, 0.9);
  padding: 2rem 4rem;
  box-shadow: 0 8px 16px 0 rgba(59, 89, 601, 0.2),
    0 6px 20px 0 rgba(59, 89, 601, 0.19);
  transition: 0.9s;
}

.book:hover .listFirstLine {
  font-size: 3rem;
  color: #fff;
  -webkit-text-stroke: 0.5px #3b5999;
  text-shadow: 0 0 5px rgba(59, 89, 601, 0.5);
  font-weight: bolder;
  transition: 0.5s;
}

.listSmallerText {
  color: #666;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.book:hover .listSmallerText {
  font-size: 1rem;
  font-weight: bold;
  color: #888;
  transition: 0.5s;
}

/*===================================================other================================================*/

.btn {
  background-color: #333;
  padding: 0.8rem;
  border: none;
  font-weight: bolder;
  margin: 0.3rem;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.2);
}

.btn:hover {
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 0 #222;
}

.center {
  display: flex;
  justify-content: center;
}

.center > * {
  margin: 0.5rem;
}

fieldset {
  display: flex;
  justify-content: center;
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  border: solid;
  border-radius: 8px;
  margin: 1rem;
}

fieldset legend {
  width: inherit;
  padding: 0 10px;
  border-bottom: none;
  text-align: left;
  font-weight: bold;
}

fieldset ul {
  list-style: none;
}

fieldset ul li {
  margin: 0.5rem;
}

fieldset ul li label {
  font-weight: bold;
}

.error {
  font-size: 1.2rem;
  font-style: italic;
  text-decoration: underline;
  color: red;
}

.pic {
  width: 20rem;
  height: 20rem;
  border-radius: 6px;
}
